{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Genshin Stats</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
    <h1>Get My Stats</h1>
    <input type="text" id="uid" placeholder="Enter your UID">
    <button id="get-stats" onclick="getStats()">Get My Stats</button>
    <div id="stats"></div>
    <script>
        function getStats() {
            const uid = document.getElementById("uid").value;
            console.log(uid);
            fetch(`/get-stats/`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                body: JSON.stringify({ uid }),
            })
            .then(response => response.json())
            .then(responseData => {
                const statsDiv = document.getElementById("stats");
                if (responseData.error) {
                    statsDiv.innerHTML = `<p>${responseData.error}</p>`;
                } else {
                    statsDiv.innerHTML = `<p>Name: ${responseData.name}</p>
                    <p>Current World Level: ${responseData.world_level}</p>
                    <p>Current Adventure Rank: ${responseData.adventure_rank}</p>
                    <p>You have ${responseData.num_characters} characters!</p>
                    <p>Achievements: ${responseData.achievements}</p>`;
                }
            });
        }
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</body>
</html>